<div class="item toc-only">
  <div class="ui input"><input type="text" placeholder="Search..."></div>
</div>
<div class="item side-menu-only">
  <%= image_tag("logo.png", class: "ui mini image middle aligned right spaced") %>
  <span>Shadowfax Demo</span>
</div>
<%= nav_link("Dashboard", root_path) %>
<%= nav_link("Contact us", pages_contact_us_path) %>
<%= nav_link("About", pages_about_path) %>
<div class="item">
  <div class="header">Templates</div><!-- /.header -->
  <div class="menu">
    <%= nav_link("Index", superadmin_designs_templates_index_path) %>
    <%= nav_link("Show", superadmin_designs_templates_show_path) %>
    <%= nav_link("New", superadmin_designs_templates_new_path) %>
    <%= nav_link("Dashboard", superadmin_designs_templates_dashboard_path) %>
    <%= nav_link("Wizard", superadmin_designs_templates_wizard_path) %>
    <%= nav_link("Settings", superadmin_designs_templates_settings_path) %>
    <%= nav_link("Components", superadmin_designs_templates_components_path) %>
  </div><!-- /.menu -->
</div><!-- /.item -->
