<%= render(partial: "shared/settings/header") %>

<div class="main ui container">
  <div class="ui horizontal segments no-border m-a-0">
    <%= render(partial: "shared/settings/menu") %>
    <div class="ui basic segment no-border m-a-0">
      <h2 class="ui dividing header">
        Users
      </h2>
      <table class="ui striped table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Last signed in</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.last_sign_in_at %></td>
              <td>
                <%= link_to(
                  "Edit",
                  "#",
                  data: {
                    url: edit_superadmin_user_path(user),
                    behavior: "display-in-modal"
                  }
                ) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table><!-- /.ui striped table -->
    </div><!-- /.ui basic segment no-border m-a-0 -->
  </div><!-- /.ui horizontal segments no-border m-a-0 -->
</div><!-- /.main ui container -->
