<div class="row" style="padding-top: 10px;">
  <%= simple_form_for(
    resource,
    as: resource_name,
    url: password_update_path,
    html: { method: :put }
  ) do |f| %>
    <h2>Change password</h2>
    <%= f.input(:password, required: true, autofocus: true) %>
    <%= f.input(:password_confirmation, required: true) %>
    <hr/>
    <%= f.input(
      :current_password,
      required: true,
      hint: "we need your current password to confirm your changes"
    ) %>
    <%= f.button(:submit, "Update") %>
  <% end %>
</div>
