<%= render(partial: "shared/settings/header") %>

<div class="main ui container">
  <div class="ui horizontal segments no-border m-a-0">
    <%= render(partial: "shared/settings/menu") %>
    <div class="ui basic segment no-border m-a-0">
      <h2 class="ui dividing header">Change Password</h2><!-- /.ui header -->
      <%= simple_form_for(
        resource,
        as: resource_name,
        url: password_update_path,
        html: { method: :put }
      ) do |f| %>
        <%= f.input(:password, required: true, autofocus: true) %>
        <%= f.input(:password_confirmation, required: true) %>
        <%= f.input(
          :current_password,
          required: true,
          hint: "we need your current password to confirm your changes"
        ) %>
        <%= f.button(:submit, "Update") %>
      <% end %>
    </div><!-- /.ui basic segment no-border m-a-0 -->
  </div><!-- /.ui horizontal segments no-border m-a-0 -->
</div><!-- /.main ui container -->
