<%= render(partial: "shared/settings/header") %>

<div class="ui main container">
  <div class="ui horizontal segments no-border m-a-0">
    <%= render(partial: "shared/settings/menu") %>
    <div class="ui basic segment no-border m-a-0">
      <h2 class="ui dividing header">
        Edit User
      </h2>
      <%= simple_form_for(
        resource, as: resource_name,
        url: profile_update_path,
        html: { method: :put }
      ) do |f| %>
        <%= f.input(:email, required: true, autofocus: true) %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </p>
        <% end %>
        <%= f.input(:first_name, required: true) %>
        <%= f.input(:last_name, required: true) %>
        <%= f.input(:profile_image, as: :file) %>
        <%= f.input(
          :current_password,
          required: true,
          hint: "we need your current password to confirm your changes"
        ) %>
        <%= f.button(:submit, "Update") %>
      <% end %>
    </div><!-- /.ui basic segment no-border m-a-0 -->
  </div><!-- /.ui horizontal segments no-border m-a-0 -->
</div><!-- /.ui main container -->
