<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <%= image_tag("logo.png", class: "image") %>
      <div class="content">
        Sign up
      </div>
    </h2>
    <%= simple_form_for(
      resource,
      as: resource_name,
      url: registration_path(resource_name),
      html: { class: "ui form max-width-600 large" }
    ) do |f| %>
      <div class="ui stacked left aligned segment">
        <%= f.input(:email, required: true, autofocus: true) %>
        <%= f.input(:first_name, required: true) %>
        <%= f.input(:last_name, required: true) %>
        <%= f.input(:password, required: true) %>
        <%= f.input(:password_confirmation, required: true) %>
        <%= f.button(
          :submit,
          "Sign up",
          class: "ui fluid large teal submit button"
        ) %>
      </div>
      <div class="ui error message"></div>
    <% end %>

    <div class="ui message">
      <%= render(partial: "users/shared/links") %>
    </div>
  </div>
</div>
